.chat{
  box-sizing: border-box;
  font-size: large;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-content{
  width: 60.3%;
  align-self: center;
  display: flex;
  flex-flow: column;
  align-content: flex-end;
  justify-content: flex-end;
}

.header{
  align-self: flex-start;
  background-color: black;
  height: 9vh;
  width: 100%;
  justify-content: flex-start;
}

.header img{
  position: relative;
  height: 100%;
}


.chat-panel{
  padding-top: 1%;
  align-self: center;
  height: 80vh;
  width: 100%;
  background-color: black;
  overflow-y: scroll;
}


.chat-header{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: larger;
  align-self: center;
  justify-content: space-between;
  border: solid;
  background-color: white;
}

.chat-panel .msg-input{
  align-self: center;
  position: sticky;
  bottom: 0px;
  right: 50%;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.chat-panel .msg-input textarea{
  background-color: rgb(255, 240, 240);
  resize: none;
  align-self: center;
  border-width: 5px;
  width: 60%;
  height: 80%;
  border-radius: 25px;
  padding: 8px;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chat-panel .msg-input textarea:focus{
  outline: none;
}

.message{
  margin-left: 1%;
  margin-bottom: 1%;
  padding: 4px;
  color: black;
  background-color: azure;
  width: 50%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  position: relative;
}

.message .msg{
  max-width: 70%;
}

.message img{
  margin: 10px;
  align-self: center;
  width: 2em;
  height: 2em;
  border-radius: 25px;
}

.message>button{
  right: 0px;
  border-radius: 25px;
  outline: none;
  border: none; 
  position: absolute;
  margin-left: auto;
  visibility: hidden;
}

.my-msg{
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 5px;
  color: black;
  background-color: rgb(255, 240, 240);
  min-width: 50%;
  max-width: 50%;
  max-height: 100%;
  position: relative;
  word-wrap: break-word;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  overflow: auto;
}

.my-msg:hover .time{
  position: absolute;
  visibility: hidden;
}

.my-msg>span{
  max-width: 70%;
  text-align: left;
}


.add-msg{
  margin-left: 3px;
  align-self: center;
  height: 2.5em;
  width: 6em;
  background-color: azure;
  border: none;
  border-radius: 25px;
}

.add-msg:focus{
  outline: none;
  border: none;
}

.footer{
  width: 100%;
  height: 2em;
  justify-content: center;
  align-self: center;
  display: flex;
  align-items: center;
}

.breack {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.line {
  flex: 1;
  border-bottom: 1px solid white;
}

.liked{
  background-color: red;
}


.message:hover button{
  visibility: visible;
}

.edit{
  background-color: rgb(255, 240, 240);
  outline: none;
  border: none;
  text-decoration: underline;
  float: left;
}

.delete{
  background-color: rgb(255, 240, 240);
  outline: none;
  border: none;
  text-decoration: underline;
  float: left;
}

.tool-bar{
  display: flex;
  flex-flow: column;
  visibility: hidden;
  align-self: center;
}

.my-msg:hover .tool-bar{
  visibility: visible;
}

.tool-bar>button:hover{
  opacity: 1;
}

.tool-bar>button{
  opacity: 0.7;
}



.loader {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 6em;
  height: 6em;
  border: 1.1em solid rgb(0, 0, 0);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.edit-panel{
  background-color: azure;
  position: absolute;
  bottom: 5.3%;
  right: 25%;
  height: 15%;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.edit-panel textarea{
  margin-top: 1px;
  resize: none;
  width: 80%;
  height: 60%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

.edit-panel button{
  background-color: blue;
  margin: 1px;
  opacity: 0.7;
  outline: none;
  border: none;
  width: 20%;
}

.edit-panel button:hover{
  opacity: 1;
}

.edit-panel .edit:hover{
  background-color: green;
}

.edit-panel .cancel:hover{
  background-color: red;
}

.edit-panel span{
  text-align: center;
  width: 100%;
  border-bottom: solid;
}

.time{
  font-size: medium;
}

.message:hover .time{
  visibility: hidden;
  width: 0px;
}

.message .time{
  margin-left: auto;
}

.edit-panel>div{
  margin-bottom: 1px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}
